<!DOCTYPE html>
<html>
<head>
    <title>Добавить фильм</title>
</head>
<body>
    <h1>Добавить фильм</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <label>
            <input type="radio" name="save_to" value="json" required> Сохранить в JSON
        </label>
        <label>
            <input type="radio" name="save_to" value="db"> Сохранить в БД
        </label>
        <button type="submit">Сохранить</button> 
    </form>
    <a href="{% url 'movie_list' %}">Вернуться к списку</a>













</body>
</html>